QTabWidget::pane > QWidget {
  background-color: #090a10;
}

QTabWidget::tab-bar {
  background-color: #090a10;
}

QTabBar::tab {
  background-color: #090a10;
  font-family: Iosevka;
  font-size: 15px;
}

QTabBar::tab:selected,
QTabBar::tab:hover {
  color: #70ce8e;
  font-family: Iosevka;
  font-size: 15px;
}
